* {
  margin: 0;
  padding: 0;
}
body {
  color: white;
  background-color: blue;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  background-color: red;
}
.left {
  font-size: 2rem;
}
nav ul {
  display: flex;
  justify-content: center;
}
ul li {
  list-style: none;
  margin: 0 23px;
}

.first {
  display: flex;
  justify-content: space-around;
}
